.component1,
.component2Child {
  width: 153px;
  position: absolute;
  top: 40px;
  left: 1237px;
}
.component2Child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gainsboro);
}
.component2,
.logo {
  position: absolute;
  top: 44.02%;
  left: 33.81%;
}
.component2 {
  top: 216px;
  left: 150px;
  width: 210px;
  height: 234px;
  color: var(--color-black);
}
.component11 {
  width: 153px;
  position: absolute;
  top: 40px;
  left: 1057px;
}
.contactUs {
  position: absolute;
  top: 57px;
  left: 1072px;
  color: var(--color-black);
}
.loginPage1Child {
  position: absolute;
  top: 403px;
  left: calc(50% + 610px);
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  width: 1px;
  height: 12px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.quizzylicious {
  position: absolute;
  top: 70px;
  left: 53px;
  display: inline-block;
  width: 624px;
  height: 116px;
}
.quizzyliciousWrapper {
  position: absolute;
  top: 216px;
  left: 380px;
  border-radius: var(--br-xl);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #171e5a;
  width: 730px;
  height: 230px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-77xl);
  font-family: var(--font-josefin-sans);
}
.text {
  position: absolute;
  top: 59px;
  left: 937px;
  color: var(--color-black);
}
.loginPage1Inner,
.loginPage1Item,
.rectangleDiv {
  position: absolute;
  top: 20px;
  left: 10px;
  border-radius: var(--br-3xs);
  background-color: var(--color-midnightblue);
  width: 80px;
  height: 180px;
}
.loginPage1Inner,
.rectangleDiv {
  top: 210px;
}
.rectangleDiv {
  top: 400px;
}
.mathematics {
  position: absolute;
  top: 577px;
  left: 35px;
  transform: rotate(-89.99deg);
  transform-origin: 0 0;
}
.text1 {
  position: absolute;
  top: 515px;
  left: 61px;
  color: var(--color-black);
}
.chemistry,
.physics {
  position: absolute;
  left: 35px;
  transform-origin: 0 0;
}
.physics {
  top: 159.37px;
  display: inline-block;
  width: 128.37px;
  height: 45.84px;
  transform: rotate(-89.75deg);
}
.chemistry {
  top: 370px;
  transform: rotate(-89.99deg);
}
.rectangleIcon {
  top: 490px;
  left: 120px;
  border-radius: var(--br-31xl);
  width: 1190px;
  height: 210px;
}
.login,
.quote,
.rectangleIcon {
  position: absolute;
}
.login {
  top: 895px;
  left: 1205px;
  text-align: center;
}
.quote {
  top: 581px;
  left: 681px;
  color: var(--color-black);
}
.areYouAn,
.rectangleButton {
  width: 441px;
  position: absolute;
  top: 861px;
  left: 35px;
}
.areYouAn {
  top: 887px;
  left: 53px;
  font-size: 32px;
  display: inline-block;
  width: 400px;
  height: 44px;
}
.loginPage1Child1 {
  width: 220px;
  position: absolute;
  top: 870px;
  left: 876px;
}
.signUp {
  position: absolute;
  top: 896px;
  left: 936px;
  text-align: center;
}
.loginPage1Child2 {
  position: absolute;
  top: 869px;
  left: 1123px;
  border-radius: 60px;
  background-color: var(--color-midnightblue);
  width: 220px;
  height: 80px;
}
.loginPage1 {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  background-image: url(/public/login-page--1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
